<section>
  <header>
    <h2>Applicant Information</h2>
  </header>

  <%@pets_show%>

  <p>Name: <%= @applicant.name %></p>
  <p>Address: <%= @applicant.address%> <%=@applicant.city%> <%=@applicant.state%> <%=@applicant.zip_code%></p>
  <p>Status: <%= @applicant.status %></p>
  <p>Description: <%= @applicant.description %></p>

  <p>Status of Application: <%= @applicant.status.gsub("_", " ")%>
</section>
<section>
  <%if @random == nil%>
  <h3>Add a Pet to this Application</h3>
  <%= form_with url: "/applications/#{@applicant.id}", method: :get, local: true do |form| %>
    <%= form.text_field :search %> 
    <%= form.hidden_field :applicant_id, value: @applicant.id%>
    <%= form.submit "Search" %>
  <% end %>
  <% end %>

  <% if @pets_show != nil%>  
  <h3> Pets Returned by Search </h3>
    <%@pets_show.each do |pet|%>
      <%= pet.name %>
      <%= button_to "Adopt this Pet", "/applications/#{@applicant.id}", params: {adopt: "#{pet.id}"}, method: :get %>
       <%# local: true %>
    <% end %>
  <% end %>



  <% if @adoptable_pets != nil %>
    <h3> Adoption Requests</h3>
      <% @adoptable_pets.each do |adopted| %>
        <%= adopted.name %> <br>
      <% end %>
    <% end %>


  <% if @applicant.pets != []%>
<%binding.pry %>
    <% @applicant.pets.each do |adopted| %>
<%binding.pry %>
      <%relevant = @applicant.application_pets.where(pet_id: adopted.id)%>  
<%binding.pry %>
    <h4>Pending pets the applicant would like to adopt:</h4>
<%binding.pry %>
    <% if relevant.first.approval == 0 %> 

          <%= adopted.name %>

          <br>
          <br>
          <%= button_to "Approve Application for #{adopted.name}", "/admin/application_pets/#{@applicant.id}", params: {approval: "approved", pet_id: "#{adopted.id}"}, method: :patch %>

          <%= button_to "Deny Application for #{adopted.name}", "/admin/application_pets/#{@applicant.id}", params: {approval: "denied", pet_id: "#{adopted.id}"}, method: :patch %>

        <%elsif relevant.first.approval == 1%>
          <br> <%="Application for #{adopted.name} is Approved."%>

        <%elsif relevant.first.approval == 2%>
            <br> <%="Application for #{adopted.name} is Denied."%>


        <%end%>



        <% end %> <%#-- corresponds to line 46 %>


    <% end %> 



    <%if @indicator != nil%>
      <p>Status of application: <%@applicant.status%></p>
    <%end %>
</section>