<%= render partial: "partials/admin_header", locals: {name_to_show: @applicant.name }  %>

<section>

  <% if @applicant.application_pets != []%>
    <h4>Pending pets the applicant would like to adopt:</h4>
    <% @applicant.application_pets.each do |relationship_object| %>

    <div id="animal_iteration">
      <% if relationship_object.approval == "No Status" %> 
        <%= relationship_object.pet.name %>
        <br>
        <br>
        <%= button_to "Approve Application for #{relationship_object.pet.name}", "/admin/application_pets/#{@applicant.id}", params: {approval: "approved", pet_id: "#{relationship_object.pet_id}"}, method: :patch %>

        <%= button_to "Deny Application for #{relationship_object.pet.name}", "/admin/application_pets/#{@applicant.id}", params: {approval: "denied", pet_id: "#{relationship_object.pet_id}"}, method: :patch %>
        <%end%>
      <% end %>
    </div>

    <% if @applicant.application_pets != []%>
      <% @applicant.application_pets.each do |application_pet| %>
        <% if application_pet.approval == "Approved" %> 
          <br> <%="Application for #{application_pet.pet.name} is Approved."%>
        <%elsif application_pet.approval == "Rejected"%>
          <br> <%="Application for #{application_pet.pet.name} is Denied."%>
        <%end %>
      <% end %>
    <% end %> 
  <% end %> 

</section>